.navbar {
  background: var(--background-color);
  filter: brightness(120%);
  height: 70px;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.1);

  & .logo {
    margin-left: 30px;
  }
}

section {
  padding: 5vw;
}

.hero {
  width: 80vw;
  margin-top: 26px;
  margin-left: 5vw;
}

.headline-info {
  width: 320px;
}

.card {
  font-size: small;
  position: relative;
  width: 175px;
  border-radius: 8px;

  & .thumb {
    width: 100%;
  }

  & .badge {
    background: var(--color);
    color: var(--background-color);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    top: 7px;
    left: 7px;
    border-radius: 5px;
    padding: 0 0.4rem;
    font-size: x-small;
  }

  & .card-desc {
    font-size: smaller;
  }
}

.rating {
  & .reviews,
  .country {
    color: var(--text-shade);
  }
}

.cardprice {
  & .pricetag {
    font-weight: bold;
  }

  & .pricedesc {
    color: var(--text-shade);
  }
}
