.button {
  appearance: none;
  border: none;
  border-radius: 8px;
  background: linear-gradient(80deg, #036, #369);
  background-color: var(--action-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
